<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bbs/css/bbspage.css' %}">
    <title>主页</title>
    <script type="text/javascript" src="../static/bbsapp/js/jquery.js"></script>
</head>

<body>
    <div class="wrap">
        <header class="headerbox">
            <div class="logoimg"></div>
            <div class="logobox">
                <a href="javascript:;">沧县医院</a>
            </div>
            <div class="menubox">
                <ul>
                    <li>
                        <a href="/bbs">主页</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="disable">登录</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="disable">注册</a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="contentbox">

        </div>

        <div class="mainbox">
            <ul>
                <li>
                    <a href="/bbsapp/mainpage">院内论坛</a>
                </li>
                <li>
                    <a href="">院长信箱</a>
                </li>
                <li>
                    <a href="">公示公告</a>
                </li>
                <li>
                    <a href="">问题反馈</a>
                </li>
            </ul>
        </div>
        <div class="leftbox">

        </div>
        <div class="rightbox">
            right
        </div>
        <footer class="footerbox">
            <div>
                由信息科提供技术支持
            </div>
        </footer>
    </div>
</body>

</html>

<script>
    $(function () {
        $('.backtopbox').click(function () {
            console.log($(this).scrollTop());
            $('body,html').animate({ scrollTop: 0 })
        })

        $('.disable').click(function () {
            alert('暂未开放');
        })
    })
</script>