<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bbsapp/css/mainpage.css' %}">
    <title>主页</title>
</head>

<body>
    <div class="topbox">
        <div class="logbox">
            <a href="#">沧县医院</a>
        </div>
        <div class="menubox">
            <ul>
                <li>
                    <a href="#">主页</a>
                </li>
                <li>
                    <a href="#">登录</a>
                </li>
                <li>
                    <a href="#">注册</a>
                </li>
            </ul>
        </div>
        <div class="rbox"></div>
    </div>
    <div>

    </div>
</body>

</html>