<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bbsapp/css/mainpage.css' %}">
    <title>主页</title>
</head>

<body>
    <div class="wrap">
        <header class="headerbox">
            <div class="logbox">
                <a href="#">沧县医院</a>
            </div>
            <div class="menubox">
                <ul>
                    <li>
                        <a href="#">主页</a>
                    </li>
                    <li>
                        <a href="#">登录</a>
                    </li>
                    <li>
                        <a href="#">注册</a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="contentbox">
            <div class="searchbox">
                <input type="text" name="search" placeholder="搜索">
            </div>
            <div class="searchbuttonbox">
                <a href="">搜索</a>
            </div>
            <div>
                <img src="" alt="">
            </div>
        </div>

        <div class="mainbox">
            <ul class="pbox">
                {% for p in c_page %}
                <li>
                    <div class="replybox">
                        {{ p.comment_num }}
                    </div>
                    <div class="titlebox">
                        <a href="/bbsapp/posting?ptindex={{ p.index }}">{{ p.title }}</a>
                    </div>
                    <div class="posterbox">
                        {{ p.poster }}
                    </div>
                    <div class="digestbox">
                        {{ p.content }}
                    </div>
                    <div class="timebox">
                        {{ p.created_time|date:'y-m-d h:m:s' }}
                    </div>
                </li>
                {% endfor %}
            </ul>

            <div class="pagebox">
                {% if c_page.has_previous %}
                <a href="/bbsapp/mainpage?page={{ c_page.previous_page_number }}&ptindex={{ posting.0.index }}">上一页</a>
                {% endif %}


                {% for p_num in paginator.page_range %}
                {% if p_num == c_page.number %}
                {{ p_num }}
                {% else %}
                <a href="/bbsapp/mainpage?page={{ p_num }}&ptindex={{ posting.0.index }}">{{ p_num }}</a>
                {% endif %}
                {% endfor %}


                {% if c_page.has_next %}
                <a href="/bbsapp/mainpage?page={{ c_page.next_page_number }}&ptindex={{ posting.0.index }}">下一页</a>
                {% endif %}
            </div>
        </div>
        <div class="leftbox">
            <div class="createbox">
                <a href="/bbsapp/wposting">发帖</a>
            </div>
            <div class="backtopbox">
                <a href="/bbsapp/mainpage">回到开始</a>
            </div>
        </div>
        <div class="rightbox">
            right
        </div>
        <footer class="footerbox">

        </footer>
    </div>
</body>

</html>