<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bbsapp/css/posting.css' %}">
    <title>评论</title>
</head>

<body>
    <div class="wrap">
        <header class="headerbox">
            <div class="logbox">
                <a href="#">沧县医院</a>
            </div>
            <div class="menubox">
                <ul>
                    <li>
                        <a href="#">主页</a>
                    </li>
                    <li>
                        <a href="#">登录</a>
                    </li>
                    <li>
                        <a href="#">注册</a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="contentbox">
        </div>

        <div class="mainbox">
            <ul class="pbox">
                <li>
                    <div class="replybox">
                        楼主
                    </div>
                    <div class="posterbox">
                        {{ posting.0.poster }}
                    </div>
                    <div class="contentbox">
                        {{ posting.0.content }}
                    </div>
                    <div class="timebox">
                        {{ posting.0.created_time|date:'y-m-d H:m:s' }}
                    </div>
                </li>
                {% for p in c_page %}
                <li>
                    <div class="replybox">
                        {% if p.poster == posting.poster %}
                        楼主
                        {% else %}
                        {{ p.floor }}楼
                        {% endif %}
                    </div>
                    <div class="posterbox">
                        {{ p.poster }}
                    </div>
                    <div class="contentbox">
                        {{ p.content }}
                    </div>
                    <div class="timebox">
                        {{ p.created_time|date:'y-m-d H:m:s' }}
                    </div>
                </li>
                {% endfor %}
            </ul>

            <div class="pagebox">
                {% if paginator.num_pages != 1 %}
                {% if c_page.number != 1 %}
                <a href="/bbsapp/posting?page={{ 1 }}&ptindex={{ posting.0.index }}">首页</a>
                {% endif %}

                {% if c_page.has_previous %}
                <a href="/bbsapp/posting?page={{ c_page.previous_page_number }}&ptindex={{ posting.0.index }}">上一页</a>
                {% endif %}


                {% for p_num in paginator.page_range %}
                {% if p_num == c_page.number %}
                {{ p_num }}
                {% else %}
                <a href="/bbsapp/posting?page={{ p_num }}&ptindex={{ posting.0.index }}">{{ p_num }}</a>
                {% endif %}
                {% endfor %}


                {% if c_page.has_next %}
                <a href="/bbsapp/posting?page={{ c_page.next_page_number }}&ptindex={{ posting.0.index }}">下一页</a>
                {% endif %}

                {% if c_page.number != paginator.num_pages %}
                <a href="/bbsapp/posting?page={{ paginator.num_pages }}&ptindex={{ posting.0.index }}">尾页</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="leftbox">
            <div class="backmainbox">
                <a href="/bbsapp/backmain">主页</a>
            </div>
            <div class="createbox">
                <a href="/bbsapp/wposting">发帖</a>
            </div>
            <div class="backtopbox">
                <a href="/bbsapp/posting?ptindex={{ posting.0.index }}">回到开始</a>
            </div>
            <div class="formbox">
                <form action="/bbsapp/create_cmt/" method="POST">
                    <div>
                        <textarea name="ccontent" id="" cols="20" rows="10" placeholder="请输入回复内容"></textarea>
                    </div>
                    <div class="buttonbox">
                        <input type="submit" value="评论">
                    </div>
                    <div>
                        <input type="hidden" name="ptindex" value="{{ posting.0.index }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="rightbox">

        <footer class="footerbox">

        </footer>
    </div>
</body>

</html>