<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bbsapp/css/posting.css' %}">
    <title>评论</title>
</head>

<body>
    <div class="wrap">
        <header class="headerbox">
            <div class="logbox">
                <a href="#">沧县医院</a>
            </div>
            <div class="menubox">
                <ul>
                    <li>
                        <a href="#">主页</a>
                    </li>
                    <li>
                        <a href="#">登录</a>
                    </li>
                    <li>
                        <a href="#">注册</a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="contentbox">
        </div>

        <div class="mainbox">
            <ul class="pbox">
                <li>
                    <div class="replybox">
                        楼主
                    </div>
                    <div class="posterbox">
                        {{ posting.0.poster }}
                    </div>
                    <div class="contentbox">
                        {{ posting.0.content }}
                    </div>
                    <div class="timebox">
                        {{ posting.0.created_time|date:'y-m-d H:m:s' }}
                    </div>
                </li>
                {% for p in c_page %}
                <li>
                    <div class="replybox">
                    </div>
                    <div class="posterbox">
                        {{ p.poster }}
                    </div>
                    <div class="contentbox">
                        {{ p.content }}
                    </div>
                    <div class="timebox">
                        {{ p.created_time|date:'y-m-d H:m:s' }}
                    </div>
                </li>
                {% endfor %}
            </ul>

            <div class="pagebox">
                {% if c_page.has_previous %}
                <a href="/bbsapp/mainpage?page={{ c_page.previous_page_number }}">上一页</a>
                {% endif %}


                {% for p_num in paginator.page_range %}
                {% if p_num == c_page.number %}
                {{ p_num }}
                {% else %}
                <a href="/bbsapp/mainpage?page={{ p_num }}">{{ p_num }}</a>
                {% endif %}
                {% endfor %}


                {% if c_page.has_next %}
                <a href="/bbsapp/mainpage?page={{ c_page.next_page_number }}">下一页</a>
                {% endif %}
            </div>
        </div>
        <div class="leftbox">
            <div class="backmainbox">
                <a href="/bbsapp/backmain">主页</a>
            </div>
            <div class="createbox">
                <a href="">发帖</a>
            </div>
            <div class="backtopbox">
                <a href="/bbsapp/backtop?chtml={{ comment }}">回到顶部</a>
            </div>
        </div>
        <div class="rightbox">
            right
        </div>
        <footer class="footerbox">

        </footer>
    </div>
</body>

</html>